* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: #fff;
  font-family: 'Redressed', cursive;
}

.side-menu {
  position: fixed;
  background: #414040;
  width: 327px;
  height: 100%;
  box-sizing: border-box;
  transition: width .2s ease-in;
}

.side-menu .sidebar-header {
  padding: 30px 20px;
}

.side-menu.inactive {
  width: 80px;
}

.side-menu.inactive .top-section .toggle-menu-btn {
  right: -60px;
}

.side-menu.inactive .top-section .logo {
  width: 40px;
  height: 40px;
}

.side-menu.inactive .top-section .toggle-menu-btn {
  color: #000;
}


.side-menu .top-section {
  position: relative;
}

.side-menu .top-section .logo {
  width: 120px;
  height: 60px;
  overflow: hidden;
  display: inline-block;
}

.side-menu .top-section .logo img {
  max-width: 100%;
  max-height: 100%;
}

.side-menu .top-section .toggle-menu-btn {
  color: #eee;
  font-size: 30px;
  position: absolute;
  top: 10%;
  right: 0;
}

.side-menu .search-controller {
  position: relative;
  /* color: #000; */
}

.side-menu .search-controller input[type=text] {
  border: 0;
  outline: none;
  height: 35px;
  width: 100%;
  background: #eee;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  box-sizing: border-box;
  padding-left: 40px;
  color: #666;
  /* padding-right: 20px; */
}

.side-menu .search-controller .search-btn {
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #666;
  height: 35px;
  width: 40px;
  /* background-color: aquamarine; */
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #eee;
}

.sidebarList {
  height: auto;
  width: 100%;
  /* padding: 0px; */
}

.sidebarList .row {
  width: 100%;
  height: 60px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  color: #eee;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: #888;
}

.sidebarList #active {
  background-color: #666;
}

.side-menu.inactive .sidebarList .row #title {
  display: none;
}

.inner-content {
  font-size: 50px;
  background-color: #666;
  width: auto;
  height: 70px;
  padding: 20px 400px;
  z-index: -1;
}